#hero{
    #hero-image{
        img{
            width: 100%;
        }

    }

    #hero-product{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". hero .";

    >div{
        grid-area: hero;
    }

    } 
}