#includes{
        
    
        >div{
            section{

                grid-area: includes;
    
                h2{
                    font-family: 'Ubuntu', sans-serif;
                    font-size: rem-calc(24);
                    text-align: center;

                }
    
                p{
                    font-size: rem-calc(18);
    
                }
    
                ul{
                    li{
                    
                    }
                }
            }

        }
    }
 