#hero {
  display: grid;
  grid-template-areas: ". hero .";
  grid-template-columns: auto auto auto auto auto auto;
  background-image: url("../img/image 13.jpg");
  background-image: url("../img/image 19.jpg");
  background-image: url("../img/image 20.jpg");
  background-image: url("../img/image 21.jpg");
  background-image: url("../img/image 24.jpg");
  background-image: url("../img/image 25.jpg");
  background-size: cover;
  background-position: center;
  height: 65vh;
}
