/* =============
    Header
============= */

header{
    background-color: var(--dark-green);
    grid-area: header;

    section{
        display: grid;
        grid-template-columns: 16px, auto, 16px;
        grid-template-areas: ". header .";
        text-align: center;
        padding-top: 4px;
        padding-bottom: 4px;
        
        >div{

            a{
                grid-area: profile-icon;
                i{
                
                }
                
            }

        }

    }

    section{
        >div{
            
            img{
                
                width: 50%;
    
            }
    
            
        }
        
    }

    section{
        >div{
            form{
                

                input{
                    background-color: var(--gray-blue);
    
                }
            }
        }
        
    }
}