/* =============
    Buttons
============= */

button{
    a{
        text-decoration: none;
    }
}
section{

    >div{
        #cart{

            a:link, a:visited{
                display: inline-block;
                transition: 0.25s;
    
                &:hover, &:active{
                    color: var(--white);
    
                }
            }
            

        }
    }
}